
{% extends "base.html" %}
{% block content %}
{% if session.logged_in %}
<div class="header">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a>
            </li>
            <li role="presentation"><a href="{{ url_for('user', idR=session.id) }}">My Profile</a>
            </li>
            <li role="presentation"><a href="logout">Logout</a>
            </li>
        </ul>
    </nav>
    <img src="../static/logoOriginal.png" class = "pull-left" style="width:65px;height:50px;">
</div>


{% else %}

<div class="header">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a>
            </li>
            <li role="presentation"><a href="showSignIn">Sign In</a>
            </li>
            <li role="presentation"><a href="showSignUp">Sign Up</a>
            </li>
        </ul>
    </nav>
    <img src="../static/logoOriginal.png" class = "pull-left" style="width:65px;height:50px;">
</div>
<div class="jumbotron" style="background-image: url(../static/neighborhood.jpg);width:640px;height:322px;">
    <h2 style="text-shadow: -1px 0 #ffffff,0 1px #ffffff,1px 0 #ffffff,0 -1px #ffffff;">Welcome to Out &amp; About!</h2>
    <p class="lead"></p>
    <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
    </p>
</div>

{% endif %}

<div class="row marketing">
    <div class="col-lg-6">
        <h4>Princeton, NJ - 08544-1127</h4>
        <p>"Hey Princeton! Two available seats in our car to the Nets game on Thursday, May 25th! Message me"</p>

        <h4>Princeton, NJ - 08542-3739</h4>
        <p>"Anyone going to the town parade tomorrow want to ride together?"</p>

        <h4>Lawrenceville, NJ - 08648-1600</h4>
        <p>"Decided at the last minute to go to the high school basketball game, anyone have an extra seat in their car?"</p>

        <h4>Princeton, NJ - 08544-0001</h4>
        <p>"My wife and I are goin to dinner tomorrow at Mistral, would another couple like to join our car?"</p>
    </div>

</div>
{% endblock %}

