{% extends "base.html" %}

{block content %}
<div class="jumbotron" style="background-image: url(neighborhood.jpg);width:640px;height:322px;">
    <h2 style="text-shadow: -1px 0 #ffffff,0 1px #ffffff,1px 0 #ffffff,0 -1px #ffffff;">Welcome to Out &amp; About!</h2>
    <p class="lead"></p>
    <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
    </p>
</div>

<div class="row marketing">
    <div class="col-lg-6">
        <h3>Hi, {{ user.nickname }}!</h3>
        {% for post in posts %}
        <p>
          {{ post.author.nickname }} from {{ post.author.location }} says: <b>{{ post.body }}</b>
      </p>
      {% endfor %}
  </div>
</div>